body{
    width: 90%;
    max-width: 1000px;
    margin: auto;
}
.telaGD{
    display: block;
}
.telaMD, .telaPQ{
    display: none;
}
article{
    width: 30%;
    float: left;
    margin: auto 1.5%;
}
article img{
    max-width: 100%;
}
article:last-of-type img{
    padding-bottom: 58px;
}